body {
  background-color: #2E2E2E;
  padding-bottom: 50px;
}

h1 {
  color: #fff
}

svg {
  fill: #ff3d00;
  stroke: #dd2c00;
  stroke-width: 2;
  border: 25px #080808 solid;
  border-radius: 20%;
  margin: 5%;
  background-color: #080808;
}
