@import 'bootstrap.css';
@import 'flaticon.css';

body {
  background-color: #2E2E2E;
  padding-bottom: 50px;
}

h1, h2, h3, p {
  color: #fff;
}

h2 {
  margin-top: 0;
}

.icon {
  text-align: center;
}

a:hover {
  text-decoration: none;
}

.icondest::before {
  font-size: 50px;
  -webkit-text-stroke: 0.5px #dd2c00;
  border: 15px #080808 solid;
}

div.dest {
  padding-top: 20px;
}

.glyphicon {
  color: #fff;
  margin-top: 5px;
}

.close {
  float: right;
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 5px 0 #000;
  opacity: 1;
}
.close:hover,
.close:focus {
  color: #E8E8E8;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
